{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="page-nav no-margin row">
  <div class="container">
    <form method="post" action="register" id="register_form">

      <div class="form-group">
        <p id="register_title">REGISTER</p>
        
        {% csrf_token %}
        
        <input type="email" name="email" placeholder="Email" value="{{data.email}}">
        <input type="text" name="name" placeholder="Full Name" value="{{data.name}}">
        <input type="text" name="username" placeholder="Username" value="{{data.username}}">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="password2" placeholder="Confirm Password">
        <div class="alert">
        {% if messages %}
        {% for message in messages %}
            <ul>
              <li>{{message}}</li>
            </ul>
        {% endfor %}
      {% endif %}
    </div>
        <button name="submit">Register</button>
        <input type="hidden" name="next" value="index" />

      </div>
    </form>
  </div>
</div>

{% endblock content %}